{{- $email := promptString "Email: " -}}
{{- $location := promptString "Location: (work|home) " -}}
[data]
    email = "{{ $email }}"
    location = "{{ $location }}"

[edit]
    command = "code"
    args = ["--wait"]

[diff]
command = "code"
args = ["--wait", "--diff"]

[merge]
command = "bash"
args = [
    "-c",
    "cp {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}",
]
