tap "aws/tap"
tap "cjbassi/ytop"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
tap "minio/stable"
tap "mvndaemon/mvnd"

brew "act"
brew "zsh"
brew "arduino-cli"
brew "argocd"
brew "python@3.9"
brew "awscli"
brew "aws-sam-cli"
brew "bandwhich"
brew "bat"
brew "glib"
brew "ghq"
brew "guile"
brew "p11-kit"
brew "unbound", restart_service: true
brew "gnutls"
brew "nghttp2"
brew "cask"
brew "chezmoi"
brew "cmake"
brew "dive"
brew "dnsmasq", restart_service: true
brew "dust"
brew "exa"
brew "fd"
brew "figlet"
brew "lolcat"
brew "ffmpeg"
brew "fzf"
brew "gh"
brew "git-delta"
brew "git-lfs"
brew "gnupg"
brew "go"
brew "helm"
brew "libheif"
brew "imagemagick"
brew "java"
brew "java11"
brew "jenv"
brew "jq"
brew "kustomize"
brew "qemu"
brew "lima"
brew "mas"
brew "maven"
brew "mkcert"
brew "nvm"
brew "openssl"
brew "pinentry-mac"
brew "peco"
brew "poetry"
brew "procs"
brew "pulumi"
brew "pyenv"
brew "python@3.8"
brew "r"
brew "ruby-build"
brew "rbenv"
brew "ripgrep"
brew "rust"
brew "shellcheck"
brew "shfmt"
brew "shunit2"
brew "tig"
brew "up"
brew "watch"
brew "wget"
brew "yq"
brew "aws/tap/aws-sam-cli"
brew "aws-cdk"
brew "aws/tap/ec2-instance-selector"
brew "cjbassi/ytop/ytop"
brew "mvndaemon/mvnd/mvnd"
brew "curl-openssl"

# Apple TV Screensaver
cask "aerial"

# Better Terminal
cask "iterm2"

# Clipboard with history
cask "maccy"

# Window layout organization (one or the other)
cask "spectacle"
# cask "rectangle"

# QuickLook plugins
cask "qlcolorcode"
cask "qlstephen"

# IDEs
cask "visual-studio-code"
cask "eclipse-java"
cask "sublime-text"

# Note taking
cask "obsidian"

# Browsers (are already installed on work laptops)
{{- if ne .location "work" }}
cask "google-chrome"
cask "firefox"
{{- end }}

cask "docker"

# Communication
cask "zoom"
cask "webex-meetings"

# Cloud
{{- if ne .location "work" }}
cask "dropbox"
cask "amazon-chime"
{{- end }}


# Communication
{{- if ne .location "work" }}
mas 'Messenger', id: 1480068668
mas 'WhatsApp', id: 1147396723
mas 'Things', id: 904280696
{{- end }}


mas  'Hidden Bar', id: 1452453066
mas 'Slack', id: 803453959
mas 'Twitter', id: 1482454543
mas '1Password 7', id: 1333542190

# Alternative to Grammarly
{{- if ne .location "work" }}
mas 'LanguageTool', id: 1534275760
{{- end }}

# VPN
mas 'WireGuard', id: 1451685025


mas 'Be Focused', id: 973134470
mas 'Xcode', id: 497799835

# Streaming / Recording app
cask "obs"