tap "aws/tap"
tap "cjbassi/ytop"
tap "minio/stable"
tap "mvndaemon/mvnd"
tap "deskflow/homebrew-tap"

brew "act"
brew "zsh"
brew "arduino-cli"
brew "argocd"
brew "awscli"
brew "aws-sam-cli"
brew "bandwhich"
brew "bat"
brew "glib"
brew "ghq"
brew "guile"
brew "p11-kit"
brew "unbound", restart_service: true
brew "gnutls"
brew "nghttp2"
brew "cask"
brew "chezmoi"
brew "cmake"
brew "dive"
brew "dnsmasq", restart_service: true
brew "dust"
brew "fd"
brew "figlet"
brew "lolcat"
brew "ffmpeg"
brew "fzf"
brew "gh"
brew "git-delta"
brew "git-lfs"
brew "gnupg"
brew "go"
brew "helm"
brew "libheif"
brew "imagemagick"
brew "java"
brew "java11"
brew "jenv"
brew "jq"
brew "kustomize"
brew "qemu"
brew "lima"
brew "mas"
brew "maven"
brew "mkcert"
brew "nvm"
brew "openssl"
brew "pinentry-mac"
brew "peco"
brew "poetry"
brew "postgresql"
brew "procs"
brew "pulumi"
brew "pyenv"
brew "r"
brew "ruby-build"
brew "rbenv"
brew "ripgrep"
brew "rust"
brew "shellcheck"
brew "shfmt"
brew "shunit2"
brew "tig"
brew "up"
brew "watch"
brew "wget"
brew "yq"
brew "aws/tap/aws-sam-cli"
brew "aws-cdk"
brew "aws/tap/ec2-instance-selector"
brew "aws/tap/copilot-cli"
brew "cjbassi/ytop/ytop"
brew "mvndaemon/mvnd/mvnd"
brew "curl-openssl"
brew "dependency-check"
brew "ruby"
brew "mise"
brew "uv"
brew "ollama"
brew "localstack"
brew "opentofu"

# Amazon Q cli
cask "amazon-q"

# Apple TV Screensaver
cask "aerial"

# StreamDeck
cask "elgato-stream-deck"

# Better Terminal
cask "iterm2"

# Clipboard with history
cask "maccy"

# Screen capture
cask "flameshot"

# Window layout organization (one or the other)
# cask "spectacle"
cask "rectangle"

# QuickLook plugins
cask "qlcolorcode"
cask "qlstephen"

# Alfred replacement
cask "raycast"


cask "miniconda"

# Java
cask "zulu@17"
cask "zulu@21"
cask "zulu"

# .NET
cask "dotnet-sdk"

# IDEs
cask "visual-studio-code"
cask "eclipse-java"
cask "sublime-text"
cask "zed"

# Note taking
cask "obsidian"
cask "mark-text"

# Browsers (are already installed on work laptops)
{{- if ne .location "work" }}
cask "google-chrome"
cask "firefox"
{{- end }}

cask "docker"
#brew "podman"
brew "minikube"
#cask "podman-desktop"

# Communication
cask "zoom"
cask "webex-meetings"
cask "amazon-chime"

# Cloud
{{- if ne .location "work" }}
cask "dropbox"

{{- end }}

cask "superwhisper"

# AI
cask "claude"
cask "kiro"

# Communication
{{- if ne .location "work" }}
mas 'Messenger', id: 1480068668
mas 'WhatsApp', id: 1147396723
{{- end }}
mas 'Things', id: 904280696

mas  'Hidden Bar', id: 1452453066
mas 'Slack', id: 803453959


# Alternative to Grammarly
{{- if ne .location "work" }}
mas 'LanguageTool', id: 1534275760
{{- end }}

# VPN
mas 'WireGuard', id: 1451685025


mas 'Be Focused', id: 973134470
mas 'Xcode', id: 497799835

# Streaming / Recording app
cask "obs"
cask "hiddenbar"
